@import '~tailwindcss/tailwind.css';

* {
    @apply transition duration-150 ease-in-out;
}

::selection {
    background-color: #47a3f3;
    color: #fefefe;
}

html {
    scroll-behavior: smooth;
}

a {
    @apply text-blue-400 border-b border-transparent;

    &:hover {
        @apply border-blue-400;
    }
}
