@import '~tailwindcss/tailwind.css';

::selection {
    background-color: #47a3f3;
    color: #fefefe;
}

html {
    scroll-behavior: smooth;
}

h1,h2,h3,h4,h5,h6 {
    @apply font-bold md:text-5xl tracking-normal mb-4 text-black;
}

h1 {
    @apply text-3xl md:text-4xl;
}

h2 {
    @apply text-2xl md:text-3xl;
}

h3 {
    @apply text-xl md:text-2xl;
}

p {
    @apply text-gray-600;
}

a {
    @apply text-blue-600 border-b border-transparent;

    &:hover {
        @apply border-blue-700;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        filter: invert(100%);
        background-color: rgb(29, 32, 31);
    }

    img, .emoji, pre {
        filter: invert(100%);
    }
}
